/* Genel stil */
body {
  font-family: Arial, sans-serif;
}

.search {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center; /* Yatayda ortalar */
    justify-content: center;
}

/* Arama kutusu stilleri */
.search-input {
  width: 250px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: all 0.3s ease-in-out;
}

/* Hover efekti */
.search-input:hover {
  border: 1px solid black;
}

/* Tıklama efekti (focus) */
.search-input:focus {
  border: 1px solid blue;
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
}

/* Buton stilleri */
.search-button {
  background-color: #4169E1;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

/* Hover efekti */
.search-button:hover {
  background-color: #6888FF;
}

.loader {
  display: none;
  margin-top: 10px; /* Arama butonunun altına biraz boşluk bırak */
  text-align: center; /* Yazıyı ortalar */
  font-size: 18px; /* Yazı boyutunu ayarlayabilirsin */
  color: #555; /* Yazı rengi */
}

/* Galeri genel düzeni */
.gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 3 eşit sütun */
  gap: 20px; /* Görseller arasında boşluk */
  margin-top: 10px; /* Galeri üstüne biraz boşluk ekle */
}

/* Her bir galeri öğesinin düzeni */
.gallery-item {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  margin-bottom: 15px;  /* Görseller arasına biraz boşluk ekleyelim */
  border: 1px solid #333;  /* Görsellerin etrafında ince bir siyah çerçeve */
}

/* Görsellerin boyutlandırması */
.gallery-item img {
  width: 100%;  /* Görselin genişliğini tam olarak kapsar */
  height: 200px;  /* Yükseklik oranı korur */
  box-sizing: border-box;
  transition: transform 0.3s ease;
}

.gallery-item:hover img {
  transform: scale(1.05);  /* Hover efekti ile görseli biraz büyütme */
}

a {
  text-decoration: none;
}
/* Fotoğrafın altındaki kutuyu düzenliyoruz */
.image-info {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Bilgileri yatayda sıralar */
  align-items: center;
  color: black;
  text-decoration: none;
  bottom: 0;
  width: 100% auto;
  margin-left: 20px;
  font-size: 12px;
  box-sizing: border-box;  /* İçeriklerin kutuya göre düzgün hizalanması için */
}

.image-info span {

  margin: 0;
  padding: 0 5px;  /* Aralarındaki boşluğu artırır */
}

.image-info span:not(:last-child) {
  border-right: 1px solid white;  /* Bilgiler arasına sınır ekler */
}


.load-more {
  display: none;
}
